p {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: rotate(45deg);
    font-size: 75px;
    color: blanchedalmond;
}
/* Tableau*/
#oui {
    background-color: brown;
    margin: auto;
    width: 1070px;
    height: 900px;
}
img {
    position: absolute;
}